@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

html, body{
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box; /* que indica que o tamanho agora levará em conta até a borda */
    font-family: 'Roboto', sans-serif;
}

 /* HEADER */

 .logo_bike {
    width: 120px;
    float: left;
    margin-left: 10 px;
}
.ciclofaixatexto{
    text-align: center;
    margin-top: 15px;
}
.navbar-items a { /* a é ancora */
    color: #000;   
}
.navbar {
    list-style: none;  
    float: right;
}

.navbar-items {
    position: relative;  
    list-style-type: none;
    display: inline-flex;
    color: #000;
    width: 18px;
    justify-content: flex-end;
    margin-right: 15 px;     
     
}

.navbar-items ul li {
    margin: 5px;
    padding: 0 10px;
}

.navbar_itens_li{
    padding-left: 100px;
}

/*main*/

input {
    outline: none;
}

.foto_ciclo_faixa{
    display: flow-root;
    display: flex;
    flex-direction: column;
}
   
.pesquisar{
    text-align: center;
    margin-top: 15px;
}
.cadastrar{
    text-align: center;
    margin-top: 15px;
}
  /*estilo dos input,  menos o checkbox */
  input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #b2b2b2;
   
    -webkit-border-radius: 3px;
    border-radius: 3px;
   
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
   
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
   
  /*estilo do botão submit */
  input[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background: rgb(61, 157, 179);
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff;   
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
   
    -webkit-border-radius: 5px;
    border-radius: 5px;
   
    transition: all 0.3s linear;
  }
 
  input[type="submit"]:hover{
    background: #4ab3c6;
  }

  .link{
    position: absolute;
    background: #e1eaeb;
    color: #7f7c7c;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #dbe5e8;
   
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
  }
   
  .link a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 6px;
    color: rgb(29, 162, 193);
    margin-left: 10px;
    border: 1px solid #cbd518;
   
    -webkit-border-radius: 4px;
    border-radius: 4px;  
   
    -webkit-transition: all 0.4s linear;
    transition: all 0.5s  linear;
  }
   
  .link a:hover {
    color: #7db1ff;
    background: #f9f9f9;
    border: 1px solid #3aa2b5;
  }

 .cadastro{
    background-color: rgba(229, 229, 229, 0.71);
    display:flow-root;
}
.pesquisar{
    align-items: center;
}
.pesquisa{
    background-color: C4C4C4;
}
/* FOOTER */
.icon_footer{
    background-color: EA3836;
    width: 100%;
    align-items: center;
}
.icon_instagram{
    padding: 0px 80px 0px 80px;   
    margin: 15px 0px 15px 0px;            
}
.icon_twitter{
    padding: 0px 80px 0px 80px;     
    margin: 15px 0px 15px 0px;          
}
